.mate-panel-menu-bar {
  background: #191b1f;
  color: #aeb4bc; }
  .mate-panel-menu-bar na-tray-applet * {
    margin-left: 10px; }
  .mate-panel-menu-bar #PanelApplet {
    color: #aeb4bc; }
    .mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
      color: #aeb4bc;
      border: none;
      margin-left: 10px;
      background: #25282d;
      border-radius: 0;
      border-left: solid 1px #3e5b7f; }
      .mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle:hover, .mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle:checked {
        background: #2f3c4e;
        color: white; }
    .mate-panel-menu-bar #PanelApplet label {
      color: #aeb4bc; }
    .mate-panel-menu-bar #PanelApplet button,
    .mate-panel-menu-bar #PanelApplet button.toggle,
    .mate-panel-menu-bar #PanelApplet button.flat,
    .mate-panel-menu-bar #PanelApplet button.flat.toggle {
      background: none;
      background-image: none;
      border: none;
      color: #aeb4bc; }
      .mate-panel-menu-bar #PanelApplet button:hover, .mate-panel-menu-bar #PanelApplet button:checked, .mate-panel-menu-bar #PanelApplet button:active,
      .mate-panel-menu-bar #PanelApplet button.toggle:hover,
      .mate-panel-menu-bar #PanelApplet button.toggle:checked,
      .mate-panel-menu-bar #PanelApplet button.toggle:active,
      .mate-panel-menu-bar #PanelApplet button.flat:hover,
      .mate-panel-menu-bar #PanelApplet button.flat:checked,
      .mate-panel-menu-bar #PanelApplet button.flat:active,
      .mate-panel-menu-bar #PanelApplet button.flat.toggle:hover,
      .mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
      .mate-panel-menu-bar #PanelApplet button.flat.toggle:active {
        background: none;
        color: #578ED1;
        border-radius: 0; }
        .mate-panel-menu-bar #PanelApplet button:hover:hover, .mate-panel-menu-bar #PanelApplet button:checked:hover, .mate-panel-menu-bar #PanelApplet button:active:hover,
        .mate-panel-menu-bar #PanelApplet button.toggle:hover:hover,
        .mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
        .mate-panel-menu-bar #PanelApplet button.toggle:active:hover,
        .mate-panel-menu-bar #PanelApplet button.flat:hover:hover,
        .mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
        .mate-panel-menu-bar #PanelApplet button.flat:active:hover,
        .mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:hover,
        .mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
        .mate-panel-menu-bar #PanelApplet button.flat.toggle:active:hover {
          background: #253243;
          color: white; }
  .mate-panel-menu-bar PanelApplet.wnck-applet .wnck-pager {
    background: #25282d;
    color: #76808f; }
    .mate-panel-menu-bar PanelApplet.wnck-applet .wnck-pager:hover {
      background: #30343b; }
    .mate-panel-menu-bar PanelApplet.wnck-applet .wnck-pager:selected {
      background: #3c4149;
      color: #578ED1; }
  .mate-panel-menu-bar PanelSeparator {
    color: #25282d; }

entry:focus {
  background: white; }

button {
  border-radius: 4px; }

.caja-side-pane > notebook .view {
  padding-top: 2px;
  padding-bottom: 2px; }

messagedialog .dialog-action-area button:not(.suggested-action):not(.destructive-action) {
  border-radius: 3px;
  background-color: white;
  border: 1px solid #e6e6e6; }
  messagedialog .dialog-action-area button:not(.suggested-action):not(.destructive-action):hover {
    background-color: #f9fafa; }
  messagedialog .dialog-action-area button:not(.suggested-action):not(.destructive-action):active {
    background-color: #578ED1; }

