$text_color: $b70

.mate-panel-menu-bar
    background: $b10
    color: $text_color

    // Iconos de Notificacion
    na-tray-applet *
        margin-left: 10px


    #PanelApplet
        color: $text_color

        // Reloj
        #clock-applet-button.flat.toggle
            color: $text_color
            border: none
            margin-left: 10px
            background: $b15
            border-radius: 0
            border-left: solid 1px mix($base, $b15, 50)

            &:hover, &:checked
                background: mix($base, $b15, 20)
                color: white

        // Label
        label
            color: $text_color

        // Button
        button,
        button.toggle,
        button.flat,
        button.flat.toggle
            background: none
            background-image: none
            border: none

            color: $text_color

            &:hover, &:checked, &:active
                background: none
                color: $base
                border-radius: 0
                &:hover
                    background: mix($b10, $base, 80)
                    color: white

    // WorkSpace Applet
    PanelApplet.wnck-applet
        .wnck-pager
            min-width: 140px
            background: $b15
            color: $b50
            &:hover
                background: $b20
            &:selected
                background: $b25
                color: $base

    PanelSeparator
        color: $b15

